
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    font-size: 1.2rem; /*  設定 body 預設字體大小為 1.1rem */

}

header {
    background-color: #4a90e2;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 { /* 台語快讀聖經 v1.0 */
    font-size: 1.8em;
    margin-bottom: 5px;
    margin-top: 5px;  /*  修改後的上邊距設定，縮小為一半 (15px)  */
}

.controls {
    margin-top: 0.5rem;
}

label, select {
    margin: 0 0.5rem;
}

main {
    padding: 1rem;
}

#chapterTitle {
    text-align: center;
    margin-bottom: 1rem;
}

#bibleText p {
    line-height: 1.4; /* 1.6 */
    margin: 0.2rem 0;
    padding: 0.2 rem;
    border-left: 4px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
    touch-action: none; /* 禁用所有默認觸控行為 */
    user-select: none;          /* 防止文字選中 */
}

#bibleText p.selected {
    background-color:  #ffffcc; /* #fffbe6; */
    border-color: #f5c518;
    user-select: text; /* 允許選中高亮文字 */
    touch-action: auto; /* 允許高亮段落響應 */
}

#copy-toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  #copy-toast.show {
    opacity: 1;
  }